.card {
  margin: 15px;
  cursor: pointer;
}

.card-img-top {
  align-items: center;
  text-align: center;
}

.hoverable:hover {
  -webkit-transition: -webkit-box-shadow .45s;
  transition: -webkit-box-shadow .45s;
  transition: box-shadow .45s;
  transition: box-shadow .45s, -webkit-box-shadow .45s;
  -webkit-box-shadow: 0 8px 17px 0 rgb(109, 54, 29), 0 6px 20px 0 rgba(209, 223, 91, 0);
  box-shadow: 0 8px 17px 0 rgba(138, 54, 54, 0), 0 6px 20px 0 rgba(146, 58, 0, 0.45);
}